<% if issue.attachments.present? %>
    <div class="mb-30 wrapper-files">
      <div class="heading">
        Files
      </div>

      <% issue.attachments.each do |a| %>
          <div class="row">
            <div class="col name"><%= a.filename %></div>
            <div class="col weight"><%= render_size(a.filesize) %></div>
            <div class="col date"><%= format_date a.created_on %></div>
            <div class="col anonymous"><%= reported_by || a.author %></div>
          </div>
      <% end %>

    </div>
<% end %>