<% if @can[:edit] %>
    <% @issues_id = @issues.map(&:id) %>
    <li class="folder">
      <a href="<%= issues_reports_path(issue_ids: @issues_id)%>" class="icon icon-report">Print Report</a>
    </li>
<% end %>
