<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Punch List Report</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
  <!-- -->

  <link rel="stylesheet" href="/redmine/plugin_assets/redmine_context_menu_issues/stylesheets/styles.css">
  <link rel="stylesheet" href="/plugin_assets/redmine_context_menu_issues/stylesheets/styles.css">
</head>
<body>

<style>
  @page {
    size: auto;
    counter-increment: page;
    margin: 18mm 9mm 20mm 9mm;
    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
    }
    @bottom-left {
      content: "Page " counter(page) " of " counter(pages);
    }
  }

    @media print {
      header {
        padding-top: 0px;
      }
    }
</style>
<div class="wrapper">

  <div class="container">


    <%= yield %>

  </div>

</div>
</body>
</html>
