<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Redmine report Issue</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
  <!-- -->

  <link rel="stylesheet" href="/redmine/plugin_assets/redmine_context_menu_issues/stylesheets/styles.css">
  <link rel="stylesheet" href="/plugin_assets/redmine_context_menu_issues/stylesheets/styles.css">
</head>
<body>
<style>
  @page
  {
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 25mm 5mm 0mm 9mm;
  }
</style>
<div class="wrapper">

  <div class="container">


    <%= yield %>

  </div>

</div>
</body>
</html>
